.layout {
  display: flex;
  gap: 2rem;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1rem;
  background-color: #1a1a1a;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  display: block;
  padding: 0.5rem 1rem;
}

.sidebar a:hover {
  color: #646cff;
}

.portfolio-container {
  flex: 1;
  margin-left: 232px;
  justify-content: center;
}

.section {
  margin-bottom: 4rem;
}

hr {
  width: 20%;
  margin: 1rem auto;
  border: none;
  height: 2px;
  background-color: black;
  background-image: linear-gradient(to right, transparent, black, transparent);
}
